#secretariado {
    max-width: 1200px;
    margin:  auto;
    padding-top: 2.5ch;
    background-color: white;
    color: rgb(27, 27, 27);
    font-weight: 300;
    font-size: x-large;
    border-radius: 5px;
}
#secretariado p{
    margin-top: auto;
    padding: 10px;
    text-align: justify;
}
#secretariado #intro{
    text-align: left;
}
#secretariado ul{
    list-style: none;
    text-align: right;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}
    